body {
  background-image: url("http://www.hdwallpapersfreedownload.com/uploads/large/cities/london-hd-photos.jpg");
}

#weather_box {
  position: fixed;
  right: 10px;
  top: 10px;
}

.weather {
  font-weight: bold;
  font-size: 30px;
  font-family: helvetica, sans-serif;
}

.city {
  font-weight: bold;
  font-size: 15px;
  font-family: helvetica, sans-serif;
  color: black;
}

#city {
  border-style: none;
  border-width: medium 0px 1px medium;
  /*outline: none;*/
  resize: none;
  margin-top: 10px;
  font-size: 20px;
  font-family: calibri;
  width: 150px;
}

#cityBtn {
  border-style: hidden;
  border-radius: 5px;
  font-family: calibri;
  font-size: 13px;
}

#up {
  font-size: 70px;
  text-decoration: none;
  color: #708090;
}

#down {
  font-size: 70px;
  text-decoration: none;
  color: #708090;
}

#temp {
  font-size: 180px;
  font-family: calibri;
  margin-top: 150px;
}

#degree {
  font-size: 150px;
  font-family: calibri;
  margin-top: 200px;
}

#reset {
  font-family: calibri;
  text-decoration: none;
  color: white
}

#power {
  font-family: calibri;
  color: white
}

#central {
  position: absolute;
  top: 50%;
  left: 50%;
  /*margin-right: -50%;*/
  transform: translate(-5%, -80%);
  text-align: center;
  padding: 25px 20px;
  /*width: 340px;
  height: 340px;*/
  /*border: solid black;*/
  border-radius: 100%;
  /*border-width: 2px;*/
}
